@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 34 4% 21%;
    --foreground: 24 10% 82%;

    --card: 34 4% 21%;
    --card-foreground: 24 10% 82%;

    --popover: 34 4% 21%;
    --popover-foreground: 24 10% 82%;

    --primary: 33 22% 43%;
    --primary-foreground: 24 10% 82%;

    --secondary: 34 5% 48%;
    --secondary-foreground: 24 10% 82%;

    --muted: 33 22% 43%;
    --muted-foreground: 24 10% 82%;

    --accent: 180 24% 47%;
    --accent-foreground: 24 10% 82%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 24 10% 82%;

    --border: 33 22% 43%;
    --input: 33 22% 43%;
    --ring: 33 22% 43%;

    --dune: 24 5% 21%;
    --timberwolf: 30 10% 82%;
    --shadow: 33 23% 43%;
    --tapa: 34 5% 48%;
    --pine-cone: 25 16% 36%;
    --donkey-brown: 25 23% 56%;
    --hillary: 30 20% 63%;
    --cloudy: 60 4% 67%;
    --malta: 27 20% 68%;
    --patina: 180 24% 47%;

    --chart-1: var(--shadow);
    --chart-2: var(--patina);
    --chart-3: var(--donkey-brown);
    --chart-4: var(--pine-cone);
    --chart-5: var(--tapa);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--dune);
    --foreground: var(--timberwolf);

    --card: var(--dune);
    --card-foreground: var(--timberwolf);

    --popover: var(--dune);
    --popover-foreground: var(--timberwolf);

    --primary: var(--shadow);
    --primary-foreground: var(--timberwolf);

    --secondary: var(--tapa);
    --secondary-foreground: var(--timberwolf);

    --muted: var(--shadow);
    --muted-foreground: var(--timberwolf);

    --accent: var(--patina);
    --accent-foreground: var(--timberwolf);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--timberwolf);

    --border: var(--shadow);
    --input: var(--shadow);
    --ring: var(--shadow);
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
